/* Reset básico para garantir que a página tenha um estilo consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.container {
    width: 100%;
    max-width: 500px; 
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 20px; 
    margin-bottom: 10px; 
}

#nomeInput {
    padding: 8px;
    width: 100%;
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


/*=========================== Botão adicionar ==============================*/

#adicionarNomeBtn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border-color: black;
    cursor: pointer;
    margin-bottom: 10px;
}

#adicionarNomeBtn:hover {
    background-color: #39853d;
}

/*==========================================================================*/


/*========================== Conteúdo da lista =============================*/

#listaNomes {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
}

#listaNomes li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; 
    margin-bottom: 8px;
    position: relative;
}

#mensagem {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #27ae60;
}

button.remover {
    background-color: #e74c3c;
    padding: 5px 8px;
    font-size: 12px; 
    border-radius: 5px;
    border-color: black;
    color: white;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color 0.3s ease;
}

button.remover:hover {
    background-color: #c0392b;
}

/*==========================================================================*/


/*============================= Botão voltar ===============================*/

a button {
    background-color: #3498db;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

a button:hover {
    background-color: #2980b9;
}

/*==========================================================================*/


/* Responsividade para celulares */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    #nomeInput, #adicionarNomeBtn {
        width: 100%;
    }

    #listaNomes li {
        font-size: 18px;
    }

    #mensagem {
        font-size: 18px;
    }
}